<span style='color: #000' title='Frames'>   207</span><span style='color: #009' title='Memory'>   6356.00 KB</span><span style='color: #900' title='Time'>   1793.93 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />