html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	 -webkit-text-size-adjust: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font: 16px/2em "Source Sans Pro", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 36px;
	line-height: 46px;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid;
	display: inline-block;
	padding: 5px 30px;
	margin-bottom: 20px;
}

h2 {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 36px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 5px 20px;
	border: 1px solid;
	display: inline-block;
	margin-bottom: 20px;
}

h3 {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 28px;
	line-height: 38px;
	font-weight: 400;
	margin-bottom: 20px;
}

h4 {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 24px;
	line-height: 34px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 20px;
}

h5 {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 20px;
}

h6 {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

p {
	margin-bottom: 20px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

hr {
	border: 0;
	height: 1px;
	background: #f1f1f1;
}

a, a:visited { 
	text-decoration: none; 
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
			transition: all .3s;
}

a:hover, a:focus {
	color: #555555;
}

a.button {
	padding: 5px 20px;
	border: 1px solid;
	display: inline-block;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a.button:hover {
	border-color: #ecc117;
}

p a {
	text-decoration: underline;
}

label {
	float: left;
}

input, textarea, select, button {
	width: 100%;
	padding: 7px 10px;
	margin: 0;
	line-height: 24px;
	height: 40px;
	margin-bottom: 5px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

textarea {
	height: 100px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

a.button {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

input[type="submit"], button, a.button {
	width: 100%;
	height: auto;
	cursor: pointer;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 22px;
	padding: 10px;
	line-height: 36px;
	border: 0;
	text-transform: uppercase;
	font-weight: 600;
}

select, option {
	cursor: pointer;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #b0b0b0; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #b0b0b0; }

input.placeholder, textarea.placeholder { color: #b0b0b0; }

label span {
	color: #af0909;
}

input.input-error {
	border-color: #af0909;
}

section {
	padding: 40px 0;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

.split-columns > * {
	padding-right: 40px;
	border-right: 1px solid #e3e3e3;
}

.split-columns .last-column {
	border-right: 0;
	padding-right: 15px;
	padding-left: 40px;
}

.content-block {
	margin-top: 30px;
}

.image-container {
	padding: 5px;
	border: 1px solid #e3e3e3;
	display: inline-block;
	background: rgba(255,255,255,.5);
	width: 160px;
	height: 160px;
	border-radius: 80px;
}

.image-container img {
	border-radius: 80px;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: white;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}
 
.mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
}

.mfp-arrow-left {
  	left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
  	right: 0;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
  	padding-top: 40px;
  	padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black;
}

img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    box-sizing: border-box;
	padding: 40px 0 40px;
	margin: 0 auto;
}

.mfp-figure {
  	line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto;
}

.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #f3f3f3;
	word-wrap: break-word;
	padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  	max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {

  	.mfp-img-mobile .mfp-image-holder {
	    padding-left: 0;
	    padding-right: 0;
	}

  	.mfp-img-mobile img.mfp-img {
    	padding: 0;
    }

  	.mfp-img-mobile .mfp-figure {
    
    }

    .mfp-img-mobile .mfp-figure:after {
      	top: 0;
      	bottom: 0;
  	}

    .mfp-img-mobile .mfp-figure small {
	      display: inline;
	      margin-left: 5px;
	}

  	.mfp-img-mobile .mfp-bottom-bar {
	    background: rgba(0, 0, 0, 0.6);
	    bottom: 0;
	    margin: 0;
	    top: auto;
	    padding: 3px 5px;
	    position: fixed;
	    -webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	            box-sizing: border-box;
	}

    .mfp-img-mobile .mfp-bottom-bar:empty {
    	padding: 0;
  	}

  	.mfp-img-mobile .mfp-counter {
    	right: 5px;
    	top: 3px;
    }

  	.mfp-img-mobile .mfp-close {
	    top: 0;
	    right: 0;
	    width: 35px;
	    height: 35px;
	    line-height: 35px;
	    background: rgba(0, 0, 0, 0.6);
	    position: fixed;
	    text-align: center;
	    padding: 0;
    }

}

@media all and (max-width: 900px) {

	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
	}

	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin: 0;
	}

	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin: 100%;
	}

	.mfp-container {
		padding-left: 6px;
		padding-right: 6px;
	}

}

.mfp-ie7 .mfp-img {
  padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
  padding: 0;
}

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  	opacity: 0;
}

.preloader {
	width: 100%;
	height: 100%;
	background: #ffffff;
	position: fixed;
	z-index: 9999;
}

.preloader-logo {
	position: absolute;
	width: 200px;
	height: 100px;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -70px;
	text-align: center;
	font-size: 14px;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.preloader-logo p {
	display: block;
}

.preloader-spinner {
	display: inline-block;
	height: 35px;
	width: 35px;
	position: relative;
	border: 2px solid;
	-webkit-animation: rotation .7s infinite linear;
	   -moz-animation: rotation .7s infinite linear;
	     -o-animation: rotation .7s infinite linear;
	        animation: rotation .7s infinite linear;
	border-radius: 100%;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}

body.no-preloader .preloader {
	display: none;
}

.intro {
	padding-top: 30px;
	padding-bottom: 0;
}

.logo {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.intro-heading-block {
	margin-bottom: 20px;
}

.text-column {
	padding-right: 0px;
}

p.intro-description {
	width: 350px;
	display: inline-block;
	margin-bottom: 40px;
}

ul.intro-features {
	margin-top: 30px;
}

ul.intro-features li {
	margin-bottom: 10px;
	width: 100%;
	text-align: left;
	line-height: 50px;
	padding: 0 20px;
}

ul.intro-features img {
	margin: 0 30px;
	vertical-align: middle;
}

.intro-image {
	position: absolute;
	top: 0;
	left: 15px;
	max-width: none;
	width: auto;
}

.form-clients {
	padding-top: 0;
}

.contact-form {
	border: 1px solid;
}

.clients {
	padding-top: 0px;
}

.clients p {
	margin-top: 25px;
}

.clients img {
	max-width: 120px;
}

.form-column {
	padding-left: 0px;
	margin-top: -590px;
	float: right;
}

.main-form {
	padding: 30px;
	margin-bottom: -145px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.main-form h4 {
	margin-bottom: 10px;
}

.submit-holder {
	position: relative;
	margin-top: 25px;
}

.submit-arrow {
	width: 590px;
	height: 80px;
	position: absolute;
	left: -595px;
	top: -10px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	line-height: 76px;
}

.animate-arrow {
	-webkit-animation: pingtoright 1.5s infinite linear;
	   -moz-animation: pingtoright 1.5s infinite linear;
	     -o-animation: pingtoright 1.5s infinite linear;
	        animation: pingtoright 1.5s infinite linear;
}

.disclaimer {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
}

@-webkit-keyframes pingtoright {
	0% {-webkit-transform: translateX(0px);}
	50% {-webkit-transform: translateX(-10px);}
	100% {-webkit-transform: translateX(0px);}
}

@-moz-keyframes pingtoright {
	0% {-moz-transform: translateX(0px);}
	50% {-moz-transform: translateX(-10px);}
	100% {-moz-transform: translateX(0px);}
}

@-o-keyframes pingtoright {
	0% {-o-transform: translateX(0px);}
	50% {-o-transform: translateX(-10px);}
	100% {-o-transform: translateX(0px);}
}

@keyframes pingtoright {
	0% {transform: translateX(0px);}
	50% {transform: translateX(-10px);}
	100% {transform: translateX(0px);}
}

.left-form .text-column {
	padding-left: 0px;
	padding-right: 15px;
	float: right;
}

.left-form .form-column {
	padding-right: 0px;
	padding-left: 15px;
	float: left;
}

.left-form .submit-arrow {
	left: 320px;
}

.left-form .animate-arrow {
	-webkit-animation: pingtoleft 1.5s infinite linear;
	   -moz-animation: pingtoleft 1.5s infinite linear;
	     -o-animation: pingtoleft 1.5s infinite linear;
	        animation: pingtoleft 1.5s infinite linear;
}

@-webkit-keyframes pingtoleft {
	0% {-webkit-transform: translateX(0px);}
	50% {-webkit-transform: translateX(10px);}
	100% {-webkit-transform: translateX(0px);}
}

@-moz-keyframes pingtoleft {
	0% {-moz-transform: translateX(0px);}
	50% {-moz-transform: translateX(10px);}
	100% {-moz-transform: translateX(0px);}
}

@-o-keyframes pingtoleft {
	0% {-o-transform: translateX(0px);}
	50% {-o-transform: translateX(10px);}
	100% {-o-transform: translateX(0px);}
}

@keyframes pingtoleft {
	0% {transform: translateX(0px);}
	50% {transform: translateX(10px);}
	100% {transform: translateX(0px);}
}

.left-form .clients {
	float: right;
}

.thanks-popup {
	position: relative;
	width: auto;
	max-width: 650px;
	margin: 20px auto;
}

.thanks-popup .thanks-heading {
	height: 210px;
	text-align: center;
}

.thanks-popup .thanks-heading h1 {
	margin-top: 80px;
}

.thanks-popup .thanks-body {
	padding: 40px;
	text-align: center;
}

.thanks-popup button.mfp-close:hover {
	background: none;
}

.thanks-popup a.button {
	width: auto;
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.separator {
	padding: 0;
}

.hero h3 {
	margin-bottom: 0;
}

.icon-block {
	margin-bottom: 40px;
}

.icon-block i {
	width: 58px;
	height: 58px;
	text-align: center;
	line-height: 60px;
	display: block;
	border-radius: 58px;
	font-size: 26px;
	float: left;
}

.icon-block h4,
.icon-block p {
	padding-left: 80px;
	display: block;
	margin-bottom: 0;
}

.icon-block h4 {
	margin-bottom: 5px;
}

.about-images {
	text-align: center;
}

.first-image {
	position: relative;
	z-index: 99;
}

.second-image {
	margin-left: -40px;
	position: relative;
	z-index: 98;
}

.pricing-table {
	text-align: center;
	border: 1px solid #e3e3e3;
	margin-top: 15px;
}

.pricing-table.featured {
	border-color: #990000;
	margin-top: 0;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
}

.pricing-table .table-title {
	padding: 25px 0;
	border-bottom: 1px solid #e3e3e3;
}

.pricing-table .table-title h4 {
	margin-bottom: 0;
	line-height: 28px;
}

.pricing-table .table-title h6 {
	margin-bottom: 0;
	line-height: 18px;
}

.pricing-table.featured .table-title {
	padding: 15px 0;
}

.pricing-table .table-price {
	border-bottom: 1px solid #e3e3e3;
	font-size: 20px;
	color: #000000;
	padding: 25px 0;
}

.pricing-table .table-price span {
	position: relative;
	margin-right: 10px;
	top: -8px;
}

.pricing-table .table-price span.price {
	font-size: 48px;
	position: relative;
	top: 0;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.pricing-table ul.table-features li {
	padding: 10px 0;
	border-bottom: 1px solid #e3e3e3;
}

.pricing-table ul.table-features li:nth-child(even) {
	background: #f6f6f6;
}

.pricing-table a.button {
	width: 150px;
	font-size: 16px;
	padding: 3px 4px;
	margin-bottom: 20px;
	margin-top: 70px;
}

.pricing-table.featured a.button {
	margin-top: 100px;
}

.testimonial-block {
	border: 1px solid #e3e3e3;
	text-align: center;
	padding: 50px 180px;
}

.testimonial-block p.testimonial {
	color: #000000;
	font-size: 22px;
	font-style: italic;
	line-height: 1.7em;
	margin-bottom: 10px;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.testimonial-block p.author span {
	color: #990000;
	font-size: 18px;
}

.testimonial-block img {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
}

.bottom-cta {
	text-align: center;
}

.bottom-cta h2 {
	border: 0;
	padding: 0;
	text-transform: none;
	font-size: 28px;
	font-weight: bold;
}

.bottom-cta a.button {
	width: 320px;
}

.bottom-cta-image {
	max-width: none;
	width: auto;
	position: absolute;
	left: 15px;
	top: 0;
	z-index: 10;
}

.footer {
	text-align: center;
}

.footer .social {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer div.fb-like {
	margin-right: 30px;
}

.footer div.fb-like span {
	vertical-align: top !important;
	margin-top: 2px !important;
}