/* ==================================================================
Basic
================================================================== */

body {
	background: #ffffff;
	color: #555555;
}

/* ==================================================================
Typography
================================================================== */

h1 {
	color: #ffffff;
	border-color: #ffffff;
}

h2 {
	color: #000000;
	border-color: #cccccc;
}

h4 {
	color: #ff6600;
}

h5 {
	color: #ff6600;
	background: rgba(255,255,255,.4);
	display: inline-block;
	padding: 4px 20px;
	font-weight: bold;
}

h6 {
	color: #a9a9a9;
}

/* ==================================================================
Links
================================================================== */

a:hover, a:focus {
	color: #555555;
}

a.button:hover {
	border-color: #ecc117;
}

p a {
	color: #ff6600;
}

/* ==================================================================
Forms
================================================================== */

label {
	color: #404040;
}

input, textarea, select, button {
	background: #ffffff;
	color: #242424;
	border: 1px solid #e4e4e4;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	border-color: #ff6600;
}

input[type="submit"], button, a.button {
	color: #ffffff;
	background-color: #94dc34;
	background: -webkit-linear-gradient(#94dc34,#51a80d);
	background: -moz-linear-gradient(#94dc34,#51a80d);
	background: -ms-linear-gradient(#94dc34,#51a80d);
	background: -o-linear-gradient(#94dc34,#51a80d);
	background: linear-gradient(#94dc34,#51a80d);
	box-shadow: inset 0px 1px 0px #b2ea73,inset 0 -1px 2px #2e6d06;
}

input[type="submit"]:hover, button:hover, a.button:hover {
	color: #ffffff;
	background-color: #81d128;
	background: -webkit-linear-gradient(#81d128,#44a00a);
	background: -moz-linear-gradient(#81d128,#44a00a);
	background: -ms-linear-gradient(#81d128,#44a00a);
	background: -o-linear-gradient(#81d128,#44a00a);
	background: linear-gradient(#81d128,#44a00a);
}

a.button.orange {
	background: #f7941d;
	background: -webkit-linear-gradient(#f7941d,#d75305);
	background: -moz-linear-gradient(#f7941d,#d75305);
	background: -ms-linear-gradient(#f7941d,#d75305);
	background: -o-linear-gradient(#f7941d,#d75305);
	background: linear-gradient(#f7941d,#d75305);
	box-shadow: inset 0px 1px 0px #ffbb6a,inset 0 -1px 2px #a33f03;
}

a.button.orange:hover {
	background: #eb8016;
	background: -webkit-linear-gradient(#eb8016,#cc4504);
	background: -moz-linear-gradient(#eb8016,#cc4504);
	background: -ms-linear-gradient(#eb8016,#cc4504);
	background: -o-linear-gradient(#eb8016,#cc4504);
	background: linear-gradient(#eb8016,#cc4504);
}

/* ==================================================================
Preloader
================================================================== */

.preloader {
	color: #333333;
}

.preloader-spinner {
	border: 2px solid #dbdbdb;
	border-top: 2px solid #ff6600;
}

/* ==================================================================
Intro
================================================================== */

.intro {
	color: #ffffff;
	background: url(../images/background-1.jpg) top center no-repeat;
}

.intro h2 {
	color: #ffffff;
	border-color: #ffffff;
}

ul.intro-features li {
	background: rgba(0,0,0,0.2);
}

.intro-image {
	top: 0;
	left: -75px;
}

p.intro-description {
	width: 450px;
}

.intro h2 {
	width: 80%;
	font-size: 22px;
}

ul.intro-features img {
	margin: 0 20px 0 60px;
}

.text-column {
	padding-bottom: 190px;
}

.form-column {
	margin-top: -596px;
}

@media (max-width: 992px) {
	.text-column {
		padding-bottom: 120px;
	}
}

/* ==================================================================
Main Form
================================================================== */

.main-form {
	background: #ffffff;
	background: -webkit-linear-gradient(#ffffff,#e6e6e6);
	background:    -moz-linear-gradient(#ffffff,#e6e6e6);
	background:         linear-gradient(#ffffff,#e6e6e6);
	background:     -ms-linear-gradient(#ffffff,#e6e6e6);
	background:      -o-linear-gradient(#ffffff,#e6e6e6);
	color: #696969;
}

.submit-arrow {
	color: #ffffff;
	background: url(../images/arrow-orange.png) top right no-repeat;
}

.submit-arrow span {
	color: #990000;
}

.disclaimer {
	color: #a9a9a9;
}

.main-form h4 {
	font-size: 22px;
}

/* ==================================================================
Contact Form
================================================================== */

.contact-form {
	border: 1px solid #cccccc;
}

/* ==================================================================
Thanks Popup
================================================================== */

.thanks-popup {
	background: #ffffff;
}

.thanks-popup .thanks-heading {
	background: url(../images/thanks-heading-background-1.jpg) center center no-repeat;
}

.thanks-popup button.mfp-close:hover {
	color: #ffffff;
}

/* ==================================================================
Hero
================================================================== */

.hero h3 {
	color: #000000;
}

.hero h3 span {
	color: #ff6600;
}

/* ==================================================================
Icon Block
================================================================== */

.icon-block i {
	background: #ebe9d9;
	color: #333333;
}

/* ==================================================================
Pricing Table
================================================================== */

.pricing-table {
	border: 1px solid #e3e3e3;
}

.pricing-table.featured {
	border-color: #ff6600;
}

.pricing-table .table-title {
	border-bottom: 1px solid #e3e3e3;
}

.pricing-table .table-price {
	border-bottom: 1px solid #e3e3e3;
	color: #000000;
}

.pricing-table ul.table-features li {
	border-color: #e3e3e3;
}

.pricing-table ul.table-features li:nth-child(even) {
	background: #f6f6f6;
}

/* ==================================================================
Testimonial
================================================================== */

.testimonial-block {
	border: 1px solid #e3e3e3;
}

.testimonial-block p.testimonial {
	color: #000000;
}

.testimonial-block p.author span {
	color: #ff6600;
}

/* ==================================================================
Bottom CTA
================================================================== */

.bottom-cta {
	background: url(../images/background-1.jpg) center center no-repeat;
}

.bottom-cta h2 {
	color: #ffffff;
}

.bottom-cta-image {
	left: 0px;
	top: -240px;
}